.container {
  position: relative;

  width: 100%;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  cursor: pointer;

  button {
    background-color: transparent;
    cursor: pointer;
    padding: 10px;
    border: none;
    transition: background-color 0.5s;
    border-radius: 50%;

    position: absolute;
    bottom: 10px;
    right: 10px;

    img {
      width: 30px;
      height: 30px;
      object-fit: cover;
    }
  }

  button:hover {
    background-color: #e0e0e0;
  }
}

.container header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 10px;
}

.container header p {
  font-size: 14px;
  color: gray;
  font-weight: 400;
}

.container p {
  margin-bottom: 5px;
}
